.container-home{
    height: 980px;
    border: solid red;
}

.container-home-title{
    height: 250px;
}

.container-home-big-card{
    width: 54%;
    height: 700px;
}
.container-home-cards{
    display: flex;
    flex-direction: row;
}

.container-home-small-card{
     width: 45%;
    height: 700px;
    overflow-x: auto;
}
p {
  text-indent: 30px;
}
hr{
    color: white;
}

*{
    color: white;
}
